{% extends "home_page.html" %}
{% block title %} Create Party {%  endblock %}
<!-- Vertically centered modal -->
{% block content %}
    <!--
    <div class="modal modal-dialog modal-dialog-centered" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              {{ modal_messages() }}
              <form action="#" method="post">
                <p>Party Name:</p>
                <p><input type="text" name = "partyName"></p>
                <p>Game: </p>
                <p><input type="text" name = "Game"></p>
                <p>Proficiency:</p>
                <!Change this to a drop down list later.>
                <p><input type="text" name = "Proficiency"></p>
                <p><input type="submit" value="submit"></p>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> -->
{% endblock %}