{% extends "navbar.html" %} {% block title %} Home {% endblock %} {% block content %}
    <h1> Test of the navbar </h1>
    <h3> This is a test of Sam's compitence</h3> 

    <body>
        <h1> Database Passing Test </h1>
        <hr> 
        <div class="content">
        <form method="post">
            <p>
                <input type="text" name="content"
                    placeholder="Todo Content"></input>
            </p>   
            <button type="submit">Submit</button>
        </form>
        </div>
        </hr>
    </body>
{% endblock %}